*, 
*:before,
*:after{ 
    box-sizing: border-box;
}

body {
 font-size: 1.2vw; 
  margin: 0;
  font-family: 'Montserrat-Regular';
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}


/* Comin course */

.container-about-courses{
  background: linear-gradient(180deg, rgba(176, 102, 175, 0.5), rgba(0, 144, 175, 0.5));
}
.container-about-courses__wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* height: 100vh; */
  margin: 4vw 0 0 0; 
}
.container-about-courses__text{
  width: 45%;
  font-family: 'Montserrat-Regular';
  margin-right: 2vw;
  font-size: 2vw;
  padding-top: 15vw;
  margin:  0 0 0 10vw;       
}
.container-about-courses__text span{
  font-family: 'Montserrat-Bold';
  font-size: 2.5vw;
}
.next-start{
  width: 25%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 3vw  0.3vw 0vw  0.3vw;
  margin: 5vw 10vw 10vw 0;
}
.next-start p span{
  font-family: 'Montserrat-Bold';  
}
.record{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.record__tel {
  font-family: 'Montserrat-Regular';
  text-align: center;
  width: 70%;
  padding: 0.7vw;
  /* height: 2.5rem; */
  border: none;
  margin-top: 2rem;
  border-radius: 5px;
  
}

.record__submit {
  font-family: 'Montserrat-Bold';
  color: white;
  background: rgb(117, 68, 116);
  width: 70%;
  padding: 0.7vw;
  /* height: 2.5rem; */
  margin: 2rem 0;
  border: none;
  border-radius: 5px;
}

/* info-future */
.info-future{
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 70vh; */
}

.info-future__part{
  width: 35%;
  margin: 0 3rem;
}

.info-future__part--img-width {
  width: 40%;
}

.info-future__title{
  font-family: 'Montserrat-Bold';
  font-size: 2vw;
  padding-top: 5vw;
  text-transform: uppercase;
}



/*  block You Can*/

.block-you-can{
  background: linear-gradient(180deg, rgba(176, 102, 175, 0.5), rgba(0, 144, 175, 0.5));
  /* height: 100vh; */
}

.block-you-can__titile{
  font-family: 'Montserrat-Bold';
  width: 100%;
  text-align: center;
  font-size: 2.5vw;
  padding-top: 5vw;
}

.block-you-can__wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 3vw 5vw 7vw;
}

.block-you-can__part{
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block-you-can__icon{
  width: 20%;
}

.block-you-can__info{
  width: 70%;
}

.block-you-can__subtitle{
  font-size: 1.3vw;
  font-family: 'Montserrat-Bold';
  margin: 2vw;    
}

.block-you-can__text{
  margin: 2vw;
}

/* программа курса */

.course-programm__title{
  display: flex;
  justify-content: center;
  font-size: 1.5vw;
  width: 40%;
  background: linear-gradient(180deg, rgba(176, 102, 175, 0.5), rgba(0, 144, 175, 0.5));
  text-transform: uppercase;
  margin: 3rem auto;
  padding: 1vw;
  border-radius: 30px;
}

.course-programm__item-block:last-child {
  margin-bottom: 4rem;
}

.course-programm__item{
  font-size: 1vw;
  text-align: center;
  line-height: 3vw;
  width: 33%;
  /* height: 3vw; */
  margin: 1rem auto; 
  background: linear-gradient(180deg, rgba(176, 102, 175, 0.5), rgba(0, 144, 175, 0.5));
  border-radius: 30px;
}

/* преподаватели */

.tutors__wrapper{
  display: flex;
  justify-content: center;
  margin: 2vw 5vw 2vw 5vw;
}
.tutors__icon{
  width: 30%; 
  margin-right: 6rem;
}

.tutors__text-wraper{
  width: 40%;
}

.tutors__text-title{
  font-size: 2vw;
  text-transform: uppercase; 
  font-weight: bolder ;
  text-align: center;
}

.tutors__text{
  width: 100%;
  padding-top: 2vw; 
}

.tutors__name{
  font-size: 1.8vw;
  text-transform: uppercase; 
  font-weight: bolder;
  padding: 3vw 0;
}

/* Price-block */

.price-block {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(180deg, rgba(176, 102, 175, 0.5), rgba(0, 144, 175, 0.5));
}

.price-block__title {
  font-size: 1.5rem;
  font-family: 'Montserrat-Bold';
  margin: 3vw 0 2vw;
}

.price-block__price-divide {
  margin: 0;
}

.price-block__ul-title {
  margin-left: -2.5rem;
}

.price-block__price-divide > li {
  list-style-type: "\23e4";
}

.price-block__sale {
  margin-top: 3rem;
}
.price-block__next-start-wrapper{
  width: 25%;
}
.price-block__next-start {
  color: white;
  text-align: center;
  background-color: black;
  width: 100%;
  /* height: 40vh; */
  margin: 3vw 0;
  padding: 2vw;
}
.record__submit-width{
  width: 100%;
}
.price-block__next-start p span{
  font-family: 'Montserrat-Bold';  
}
/* Footer */

.footer__wraper {
  color: white;
  background: url(./img/footer1.jpg) center no-repeat;
  background-size: cover;
}

.footer__title {
  font-family: 'Montserrat-Bold';
  font-size: 2rem;
  color: white;
  padding: 3rem 0 1rem 7rem;
}

.form-wraper {
  display: flex;
}

.footer__form {
  display: flex;
  justify-content: space-between;
  margin: 3rem;
}

.footer__tel {
  font-family: 'Montserrat-Regular';
  color: black;
  width: 15rem;
  height: 2.5rem;
  padding-left: 2rem;
  margin-left: 2rem;
  border: none;
}

.footer__submit {
  font-family: 'Montserrat-Bold';
  color: white;
  width: 15rem;
  height: 2.5rem;
  margin-left: 2rem;
  background: orange;
  border: none;
}



.site-map {
  display: flex;
  justify-content: space-evenly;
  margin-left: -2rem;
}

.site-map__logo-suptitle {
  font-family: 'Montserrat-Regular';
}

.site-map__logo-title {
  font-size: 1.6rem;
  letter-spacing: 10px;
}

.site-map__logo-subtitle {
  font-size: 1rem;
}

.site-map__adress {
  font-family: 'Montserrat-Regular';
  display: block;
  color: white;
  margin-top: 2rem;
}

.site-map__title {
  letter-spacing: 3px;
  font-size: 1rem;
}

.site-map__link {
  display: block;
  font-family: 'Montserrat-Thin';
  font-size: 0.9rem;
  color: white;
  margin-top: 0.7rem;
}
.site-map__logo-footer{
    display: none;
}

.title {
  font-family: 'Montserrat-Bold';
  font-size: 2.5rem;
  text-align: center;
  padding: 2rem 0 2rem;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('fonts/Montserrat-Regular.eot');
  src: local('☺'), url('fonts/Montserrat-Regular.woff') format('woff'), url('fonts/Montserrat-Regular.ttf') format('truetype'), url('fonts/Montserrat-Regular.svg') format('svg');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('fonts/Montserrat-Bold.eot');
  src: local('☺'), url('fonts/Montserrat-Bold.woff') format('woff'), url('fonts/Montserrat-Bold.ttf') format('truetype'), url('fonts/Montserrat-Bold.svg') format('svg');
}

@font-face {
  font-family: 'Montserrat-Thin';
  src: url('fonts/Montserrat-Thin.eot');
  src: local('☺'), url('fonts/Montserrat-Thin.woff') format('woff'), url('fonts/Montserrat-Thin.ttf') format('truetype'), url('fonts/Montserrat-Thin.svg') format('svg');
}






/* Медиазапросы для ширины экрана меньше 576px */




@media (max-width:576px){

/* Comin course */
.container-about-courses__wrapper{
  flex-direction: column;
  align-content: center;
  padding-top: 60px;
  margin: 2vw;
}
.container-about-courses__text{
  width: 80%;
  align-items: center;
  /* height: 10vw; */
  margin: 0 auto;
  text-align: center;
  padding: 0;
  font-size: 5vw;       
}
.container-about-courses__text span{
  font-size: 4.5vw;
}
.next-start{
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 80%;
  text-align: center;
  margin:  0 auto;
  padding: 1vw;
  font-size: 3.5vw;
}
.record{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* info-future */
.info-future{
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  /* height: 150vw;  */
}
.info-future__part{
  width: 80%; 
  margin: 0 auto;
  font-size: 3vw;
  
}
.info-future__part--img-width {
  width: 80%;
}
.info-future__title{
  font-size: 4vw;
  text-align: center;
}

/*  block You Can*/
.block-you-can{
  /* height: 160vh; */
}
.block-you-can__titile{
  padding-top: 5vw;
  font-size: 4vw;
  }
.block-you-can__wrapper{
  flex-direction: column;
  align-content: center;
  }
.block-you-can__part{
  width: 100%;
  flex-direction: column;
  margin-top: 3vw;
  font-size: 3vw;
}
.block-you-can__icon{
  width: 40%;
  }

.block-you-can__info{
  width: 80%;
}
.block-you-can__subtitle{
  font-size: 3.5vw;
  margin: 2vw;    
}

/* программа курса */
.course-programm__title{
  font-size: 4vw;
  width: 80%;
}
.course-programm__item{
  font-size: 3vw;
  padding: 1vw;
  width: 80%;
  /* height: 3vh; */
}

/* преподаватели */
.title {
  font-size: 4vw;
  padding: 1rem 0 1rem;
}
.tutors__wrapper{
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
}
.tutors__icon{
  width: 80%; 
  margin: 0 auto;
}

.tutors__text-wraper{
  width: 80%;
  margin: 0 auto;
}

.tutors__text{
  width: 100%;
  padding-top: 2vw; 
  font-size: 3vw;
}

.tutors__name{
  font-size: 3vw;
}

/* Price-block */

.price-block {
  flex-direction: column;
  align-content: center;
}
.price-block__text-wraper{
  width: 80%;
  font-size: 3vw;
  margin: 0 auto;
}
.price-block__title {
  font-size: 4vw;
  text-align: center;
}

.price-block__next-start-wrapper{
  width: 80%;
  margin: 0 auto;
 
}
.price-block__next-start {
  width: 100%;
  font-size: 3vw;
  /* height: 22vh; */
}
.record__submit-width{
  width: 100%;
}
}

/*  Медиазапросы для ширины экрана от 577px до 768px */

@media (min-width:577px) and (max-width:768px){

/* Comin course */

.container-about-courses__wrapper{
  justify-content: center;
  padding-top: 60px;
  /* height: 50vh; */
}
.container-about-courses__text{
  width: 45%;
  font-size: 2vw;      
}
.container-about-courses__text span{
  font-size: 2.5vw;
}
.next-start{
  width: 45%;
  font-size: 1.7vw;
}
.record__tel {
  /* height: 2rem; */
  margin-top: 1rem; 
}

.record__submit {
  /* height: 2rem; */
  margin: 0.5rem 0;
}

/* info-future */
.info-future{
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 60vh; */
}

.info-future__part{
  width: 45%;
  margin: 0 3rem;
}

.info-future__part--img-width {
  width: 35%;
}

.info-future__title{
  font-size: 3vw;
 
}

.info-future__text {
  font-size: 1.7vw;
}


/*  block You Can*/

.block-you-can{
  /* height: 100vh; */
}

.block-you-can__titile{
  font-size: 3.5vw;
  padding-top: 3vw;
}

.block-you-can__wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* padding: 3vw 5vw 7vw; */
}

.block-you-can__part{
  width: 100%;
  margin-top: 5vw;
}

.block-you-can__subtitle{
  font-size: 2.3vw;   
}

.block-you-can__text{
  font-size: 2vw;
}

/* программа курса */

.course-programm__title{
  font-size: 2.5vw;
  width: 70%;
}

.course-programm__item-block:last-child {
  margin-bottom: 2rem;
}

.course-programm__item{
  font-size: 1.8vw;
  width: 70%;
  /* height: 4vw; */
 
}

/* преподаватели */

.title {
  font-size: 3.5vw;
}
.tutors__icon{
  width: 40%; 
}

.tutors__text-wraper{
  width: 50%;
}

.tutors__text{
  font-size: 2vw;
}

.tutors__name{
  font-size: 2.5vw;
}

/* Price-block */

.price-block {
    justify-content: center;
}
.price-block__text-wraper{
  font-size: 2vw;
  width: 45%;
}

.price-block__price-divide {
  margin: 1vw;
  font-size: 2vw;
}

.price-block__next-start-wrapper{
  width: 45%;
}
.price-block__next-start {
  /* height: 30vh; */
  font-size: 2vw;
}

}





/*  Медиазапросы для ширины экрана от 769px до 992px */

@media (min-width:769px) and (max-width:992px){

/* Comin course */

.container-about-courses__wrapper{
  /* height: 69vh; */
}
.container-about-courses__text{
  width: 35%;      
}

.next-start{
  width: 45%;
  font-size: 2vw;
}

.record__tel {
  /* height: 2rem; */
  margin-top: 1rem; 
}

.record__submit {
  /* height: 2rem; */
  margin: 1rem 0;
}

/* info-future */
.info-future{
  /* height: 53vh; */
}


.info-future__text {
  font-size: 1.4vw;
}


/*  block You Can*/

.block-you-can{
  /* height: 75vh; */
}

.block-you-can__titile{
  padding-top: 2vw;
}

.block-you-can__part{
  width: 45%;
}

.block-you-can__icon{
  width: 30%;
}
.block-you-can__info{
  width: 60%;
}

.block-you-can__subtitle{
  font-size: 2vw;
      
}
.block-you-can__text{
  font-size: 1.6vw;
}

/* программа курса */

.course-programm__title{
  font-size: 2vw;
  width: 70%;
}

.course-programm__item-block:last-child {
  margin-bottom: 2rem;
}

.course-programm__item{
  font-size: 2vw;
  width: 70%;
  /* height: 4vw; */
}

/* преподаватели */

.title {
  font-size: 2rem;
   padding: 2rem 0 2rem;
}
.tutors__icon{
  width: 40%; 
}

.tutors__text-wraper{
  width: 50%;
}

.tutors__text{
  font-size: 2vw;
}

.tutors__name{
  font-size: 2.2vw;
}

/* Price-block */

.price-block__text-wraper{
  font-size: 2vw;
  width: 45%;
}

.price-block__next-start-wrapper{
  width: 45%;
}
.price-block__next-start {
  font-size: 2vw;
  /* height: 35vh; */
}

}




/*  Медиазапросы для ширины экрана от 993px до 1200px */

@media (min-width:993px) and (max-width:1200px){
  /* Comin course */

.container-about-courses__wrapper{
  /* height: 67vh; */
}
.container-about-courses__text{
  width: 35%;      
}

.next-start{
  width: 45%;
  font-size: 1.5vw;
}

.record__tel {
  /* height: 2.5vw; */
  margin-top: 1vw; 
}

.record__submit {
  /* height: 2.5vw; */
  margin: 1vw 0;
}

/* info-future */
.info-future{
  /* height: 65vh; */
}


/* .info-future__text {
  font-size: 1.4vw;
} */


/*  block You Can*/

.block-you-can{
  /* height: 90vh; */
}

.block-you-can__titile{
  padding-top: 2vw;
}

.block-you-can__part{
  width: 45%;
}

.block-you-can__icon{
  width: 30%;
}
.block-you-can__info{
  width: 60%;
}

.block-you-can__subtitle{
  font-size: 2vw;
      
}
.block-you-can__text{
  font-size: 1.6vw;
}

/* программа курса */

.course-programm__title{
  font-size: 2vw;
  width: 70%;
}

.course-programm__item-block:last-child {
  margin-bottom: 2rem;
}

.course-programm__item{
  font-size: 2vw;
  width: 70%;
  /* height: 4vw; */
}

/* преподаватели */

.title {
  font-size: 2rem;
   padding: 2rem 0 2rem;
}
.tutors__icon{
  width: 40%; 
}

.tutors__text-wraper{
  width: 50%;
}

.tutors__text{
  font-size: 2vw;
}

.tutors__name{
  font-size: 2.2vw;
}

/* Price-block */

.price-block__text-wraper{
  font-size: 2vw;
  width: 45%;
}

.price-block__next-start-wrapper{
  width: 45%;
}
.price-block__next-start {
  font-size: 1.8vw;
  /* height: 40vh; */
}
}











/* навигация */

.container{
    margin: 0 auto;
    padding: 0px 20px;
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
    background-color: black;
    z-index: 2;
}
.header__body{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;   
}
.header__burger{
    display: none;
}

.header__list{
    display: flex;
    position: relative;
    z-index: 3;

}
.header__list>li{
    list-style: none;
    margin: 0px 0px 0px 20px;
    
}
.header__link{
    color: white;

}

@media (max-width:767px){
  body .lock{
  overflow: hidden;
  }
  .nav__wraper{
    display: none;
  }
    .header__body{
        height: 60px;
    }
    .nav__logo-wrapper{
        height: 70%;
        padding: 0;
        font-size: 0.5rem;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .header__burger:before,
    .header__burger:after{
         content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger>span{
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        content: '';
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;  
    }
    .header__burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span{
        transform: scale(0);
    }
    .header__menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(171, 124, 216);
        padding: 70px 0px 0px 0px;
        text-align: center;
    }
    .header__list{
      width: 100%;
      display: block;

    }
    .header__list li{
      padding: 10px 0px 10px 0px;
        margin: 0px 0px 10px -40px;
        text-transform: uppercase;
    }
    .header__link{
    font-size: 1.5rem;
    color:white;
    }
    .header__list li:hover{
      background-color: orange;
    }
}

.nav__logo-wrapper{
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    align-content: center;
    z-index: 3;
}
.nav__logo {
    color: white;
   
  }
  
  .nav__logo-top {
    font-size: 1rem;
    font-family: 'Montserrat-Bold';
    text-align: center;
    padding-top: 2%;
  }
  
  .nav__logo-bottom {
    font-size: 0.5rem;
    padding: 0.2rem;
    text-align: center;
  }


@media (min-width:768px){
    .header__body{
        display: none;
    }
    
/* Navigation */

.nav__wraper{
    position: fixed;
    top: 0;
    z-index: 1;
    background: rgb(36, 19, 35);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 5vw; */
  }
  .nav__logo-wraper {
    display: block;
    width: 9vw;
    margin-right: 20vw;
  }
  .nav__logo {
    color: white;
    text-align: center;
    border: 0.2vw solid white;
    padding: 0.5vw;
  }
  .nav__logo-top {
    font-family: 'Montserrat-Bold';
    letter-spacing: 3px;
  }
  .nav__logo-bottom {
    font-size: 0.9vw;
  }
  .nav__link {
    margin: 0 2vw;
    color: white;
    font-weight: bold;
  }
  .nav__link:hover{
    border-bottom: 0.5vw solid rgb(104, 174, 202);
    transition: 0.2s;
  }
  .nav__link:active{
    border-bottom: 0.5vw solid violet;
    transition: 0.2s;
  }
  .nav__sign-in {
    color: violet;
    font-weight: bold;
    margin-left: 2vw;
  }
}

  /* медиазапросы for footer only */


  @media (max-width: 576px){
    .footer__wraper{
        width: 100%;
    }
    .form-wraper{
        flex-direction: column;
        align-content: center;
    }
    .footer__title{
        width: 100%;
        text-align: center;
        padding: 0;
        font-size: 1rem;
        margin: 2% 0;
    }
    .footer__form{
        flex-direction: column;
        align-content: space-around;
        margin: 0 auto;

    }
    .footer__tel{
        margin-bottom: 2%;
    }
    .site-map {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
      }
      .site-map__logo{
          display: none;
      }
      .site-map__column{
          margin-top: 5%;
          text-align: center;
      }
      .site-map__title{
          font-size: 1.5rem;
          position: relative;
          cursor: pointer;
      }
      .site-map__link-wrapper{
          max-height: 0;
          overflow: hidden;
      }
      .site-map__title:before,
      .site-map__title:after{
        content: '';
        width: 10px;
        height: 1px;
        position: absolute;
        background-color: white;

      }
      .site-map__title:before{
          transform: rotate(50deg);
          left:50px;
          top:15px
      }
      .site-map__title:after{
        transform: rotate(-50deg);
        left:56px;
        top:15px
    }
    .site-map__title.active:before{
        transform: rotate(-50deg);
    }
    .site-map__title.active:after{
        transform: rotate(50deg);
    }
    .site-map__title:hover{
        background-color: orange;
    }
    .site-map__logo-footer{
        display: flex;
        flex-direction: column;
        margin-top: 3%;
        text-align: center;
        font-size: 0.7rem;

    }
    .site-map__adress-footer{
        color: white;
        margin-bottom: 2%;
    }
  }


  @media (min-width:577px) and (max-width:991px){
    .site-map__logo-footer{
        display: none;
    }
    .footer__title{
        width: 100%;
        text-align: center;
        padding: 0;
        font-size: 1.2rem;
        margin-top: 1rem;
    }
    .form-wraper{
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0;
    }

    .footer__tel {
        width: 12rem;
        margin-right: 0.5rem;
        margin-left: 0;
      }
      
      .footer__submit {
        font-size: 0.7rem;
        width: 12rem;
        margin: 0;
      }
      .site-map {
        display: flex;
        justify-content: space-around;
        margin: 0;
      }
      .site-map__column{
        
      }
      .site-map__title{
          font-size: 0.7rem;
      }
      .site-map__link{
          font-size: 0.7rem;
      }
      .site-map__logo-title{
          font-size: 1.2rem;
      }
      .site-map__logo-suptitle{
          font-size: 0.8rem;
      }
      .site-map__adress{
            font-size: 0.7rem;
      }
  }

  @media (min-width:992px) and (max-width:1200px){
   .site-map__logo-footer{
       display: none;
   }
   
      .footer__tel {
        width: 12rem;
      }
      
      .footer__submit {
        width: 12rem;
        font-size: 0.7rem;
      }
      
      
       
  }

